<div class="projects">
	<mat-card *ngFor="let list of lists">
		<mat-card-title
			><span
				matBadge="{{ list.listType.length }}"
				matBadgeOverlap="false"
				>{{ list.listTitle }}</span
			></mat-card-title
		>
		<mat-card-subtitle>
			<button
				mat-button
				color="accent"
				(click)="openAddDialog(list.listDialogName)"
			>
				<mat-icon>add</mat-icon>
			</button>
		</mat-card-subtitle>
		<mat-card-content>
			<div
				cdkDropList
				[id]="list.listDialogName"
				[cdkDropListData]="list.listType"
				[cdkDropListConnectedTo]="list.connectedTo"
				class="list"
				(cdkDropListDropped)="drop($event)"
			>
				<div
					class="box"
					*ngFor="let item of list.listType; let i = index"
					cdkDrag
				>
					<div class="buttons">
						<button
							mat-icon-button
							(click)="openEditDialog(list.listDialogName, i)"
						>
							<mat-icon>edit</mat-icon>
						</button>
						<button
							mat-icon-button
							(click)="deleteTodo(list.listDialogName, i)"
						>
							<mat-icon>close</mat-icon>
						</button>
					</div>
					<h3>
						<span>{{ item.title }}</span>
					</h3>
					<p>{{ item.description }}</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
