.example-spacer {
	flex: 1 1 auto;
}

.name {
	margin: 0 15px;
}

.profile-image {
	background-image: url("https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_960_720.png");
	background-size: cover;
}
