<div class="settings">
	<mat-card>
		<mat-card-title>Avatar</mat-card-title>
		<mat-card-content>
			<div>
				<div
					mat-card-avatar
					class="profile-image"
					[style.background-image]="userData.avatar"
				></div>
			</div>
			<button
				mat-raised-button
				color="basic"
				(click)="
					openSettingsDialog(
						userData.avatar,
						'avatar',
						'image url [ png, jpg ]'
					)
				"
			>
				Change
			</button>
		</mat-card-content>
		<mat-card-title>Password</mat-card-title>
		<mat-card-content>
			<div>
				<p>*******</p>
			</div>
			<button
				mat-raised-button
				color="basic"
				(click)="openSettingsDialog('ps', 'password', 'new password')"
			>
				Change
			</button>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<button
			mat-raised-button
			[disabled]="!deleteAccountEnable"
			color="warn"
			(click)="deleteAccount()"
		>
			Delete this account
		</button>
		<mat-slide-toggle [(ngModel)]="deleteAccountEnable" color="warn"
			>Enable account delete</mat-slide-toggle
		>
	</mat-card>
</div>
