<div class="settings">
	<mat-card>
		<mat-card-title>Avatar</mat-card-title>
		<mat-card-content>
			<div>
				<div mat-card-avatar class="profile-image"></div>
			</div>
			<button mat-raised-button color="basic">Change</button>
		</mat-card-content>
		<mat-card-title>Password</mat-card-title>
		<mat-card-content>
			<div>
				<p>*******</p>
			</div>
			<button mat-raised-button color="basic">Change</button>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<button mat-raised-button color="warn">Delete this account</button>
	</mat-card>
</div>
