<div class="wrapper">
	<mat-card>
		<mat-card-content>
			<form>
				<h2>Log In</h2>
				<mat-form-field class="full-width-input">
					<input
						matInput
						placeholder="Username"
						formControlName="username"
						required
					/>
				</mat-form-field>
				<mat-form-field class="full-width-input">
					<input
						matInput
						type="password"
						placeholder="Password"
						formControlName="password"
						required
					/>
				</mat-form-field>
				<div class="buttons">
					<button mat-raised-button color="accent">Login</button>
					<button mat-raised-button color="primary" align="right">
						Register
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
