<div class="wrapper">
	<mat-card>
		<mat-card-content>
			<form
				[formGroup]="loginForm"
				(ngSubmit)="submitForm(loginForm.value)"
			>
				<h2>Log In</h2>
				<mat-form-field class="full-width-input">
					<input
						matInput
						placeholder="Username"
						formControlName="username"
						required
					/>
					<mat-error>Fill in the field</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width-input">
					<input
						matInput
						type="password"
						placeholder="Password"
						formControlName="password"
						required
					/>
					<mat-error>Fill in the field</mat-error>
				</mat-form-field>

				<div class="buttons">
					<button type="submit" mat-raised-button color="accent">
						Login
					</button>
					<button
						type="button"
						routerLink="register"
						mat-raised-button
						color="primary"
					>
						Register
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
