mat-toolbar {
	background-color: #161616;
}

mat-selection-list {
	padding: 0;
	height: calc(100% - 64px);
	background-color: #212121;
}

.menu {
	display: flex;
	flex-direction: column;
	height: 100%;
	.example-spacer {
		flex-grow: 1;
	}
}
