<div class="chat">
	<mat-card>
		<mat-card-content>
			<mat-card>
				<mat-card-header>
					<div mat-card-avatar class="profile-image"></div>
					<mat-card-title>{{ username }}</mat-card-title>
					<mat-card-subtitle>Jun 5, 2018</mat-card-subtitle>
					<mat-card-subtitle>12:32</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<p>Hello World</p>
				</mat-card-content>
			</mat-card>
		</mat-card-content>
	</mat-card>
	<form class="example-form">
		<mat-card>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Message</mat-label>
				<input
					matInput
					class="msg"
					autocomplete="off"
					placeholder="Your message.."
				/>
			</mat-form-field>
		</mat-card>
	</form>
</div>
