<div class="chat">
	<mat-card>
		<mat-card-content>
			<cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
				<dl class="example-dl">
					<ng-container *cdkVirtualFor="let message of messages">
						<dt class="example-dt">
							<img
								src="https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_960_720.png"
								alt="logo"
							/>
							{{ message.author }}
							<span>
								{{ message.date | date: "medium" }}
							</span>
						</dt>
						<dd class="example-dd">
							{{ message.message }}
						</dd>
					</ng-container>
				</dl>
			</cdk-virtual-scroll-viewport>
		</mat-card-content>
	</mat-card>
	<form class="example-form">
		<mat-card>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Message</mat-label>
				<input
					matInput
					class="msg"
					autocomplete="off"
					placeholder="Your message.."
				/>
			</mat-form-field>
		</mat-card>
	</form>
</div>
