<div class="chat">
	<mat-card>
		<mat-card-content>
			<cdk-virtual-scroll-viewport
				id="scrollList"
				class="example-viewport"
				itemSize="60"
			>
				<dl class="example-dl">
					<ng-container *cdkVirtualFor="let message of messages">
						<div class="msg-header">
							<div
								mat-card-avatar
								[style.background-image]="message.avatar"
								class="profile-image"
							></div>
							<span>
								{{ message.author }}
							</span>
							<span>
								{{ message.date | date: "medium" }}
							</span>
						</div>
						<dd class="example-dd">
							{{ message.message }}
						</dd>
					</ng-container>
				</dl>
			</cdk-virtual-scroll-viewport>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Message</mat-label>
			<input
				matInput
				class="msg"
				[(ngModel)]="message"
				(keydown.enter)="sendMessage()"
				autocomplete="off"
				placeholder="Your message.."
			/>
		</mat-form-field>
	</mat-card>
</div>
