.chat {
	height: 100%;
	display: flex;
	flex-direction: column;

	& > mat-card {
		&:nth-of-type(1) {
			flex-grow: 1;
		}
		&:nth-of-type(2) {
			background-color: rgb(54, 54, 54);
		}
	}
}

form {
	mat-card {
		background-color: #333333;
		margin-top: 1em;
	}
}

.full-width {
	width: 100%;
}

.msg,
mat-label {
	font-size: 20px;
}

.example-viewport {
	height: 200px;
	width: 100%;
}

.example-dt {
	height: 30px;
	font-weight: bold;
}

.example-dd {
	padding: 0.2em 0;
	margin-bottom: 1em;
	background-color: #333333;
	border-radius: 1em;
	padding: 0.4em 0.6em;
}

.mat-card-content,
.cdk-virtual-scroll-viewport {
	height: 100%;
}

.msg-header {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 18px;
	margin-bottom: 0.5em;

	span {
		display: block;
		font-size: 14px;
		color: rgb(112, 112, 112);

		&:nth-of-type(1) {
			font-size: 16px;
			color: #fff;
		}
	}
}

.profile-image {
	background-image: url("https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_960_720.png");
	background-size: cover;
	height: 1.5em;
	width: 1.5em;
}
